* text=auto eol=lf

*.sh text eol=lf
*.ps1 text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.colors text eol=lf
*.desktop text eol=lf
*.rc text eol=lf
*.svg text eol=lf
*.qml text eol=lf
*.conf text eol=lf
*.cursor text eol=lf

iso/auto/* text eol=lf
iso/config/hooks/*/* text eol=lf
tools/marishoku-* text eol=lf
tools/stage-* text eol=lf
tools/build-package.sh text eol=lf
packages/debian/postinst text eol=lf

*.png binary
*.wav binary
