[Desktop Entry]
Name=MARISHOKU/OS
Comment=Hard-edged MR-10 window chrome
X-KDE-PluginInfo-Name=MARISHOKU
X-KDE-PluginInfo-Author=MARISHOKU/OS Project
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-License=GPLv3

